<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link media="all" rel="stylesheet" href="{{ path '/css/style.css' }}">
	<title>Preview Layout</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{{ path '/images/favicon/apple-touch-icon.png' }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ path '/images/favicon/favicon-32x32.png' }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ path '/images/favicon/favicon-16x16.png' }}">
	<link rel="manifest" href="{{path '/images/favicon/site.webmanifest' }}">
	<link rel="mask-icon" href="{{path '/images/favicon/safari-pinned-tab.svg' }}" color="#0d46fc">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="body-default">
	{{{ yield }}}

</body>

</html>